<h1><%= @cocktail[:name] %></h1>
<div class=''>

<%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail) %>

<%= @dose.description %>


<div class=''>
<%= link_to 'back to list', cocktails_path %>
</div>
